@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.underline-animation {
  position: relative;
  transition: color 0.3s ease-in-out;
}

.underline-animation::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--underline-color, white); /* Default to white */
  transition: width 0.3s ease-in-out;
}

.underline-animation:hover::before {
  width: 100%;
}
