.fly {
    animation: fly-animation 1.5s infinite alternate ease-in-out;
}

@keyframes fly-animation {
    0% {
        transform: translateX(0);
        transform: translateY(0)
    }
    50% {
        transform: translate(1rem, 1rem);
        ;
    }
    100% {
        transform: translateX(0);
        transform: translateY(0);
    }
}
